eclipse
bin
gradle
out
RemoteSystemsTempFiles
build
.settings
.gradle
.metadata
Spirit-Armory.iml
Spirit-Armory.ipr
Spirit-Armory.iws
build.gradle
CREDITS-fml.txt
gradlew
gradlew.bat
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt